@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hack';
  src: url(/assets/fonts/Hack-NF.ttf);
  display: swap;
}

* {
  font-family: 'Hack', monospace;
}
 

::-webkit-scrollbar {
  width: 15px;
  height: 10px; 
}

::-webkit-scrollbar-track {
  background: #1e252e;
}

::-webkit-scrollbar-thumb {
  background: #b6b5b4; 
}

/* Tooltip CSS To move */
.tooltip[data-tool-tip] {
  position: relative;
}
.tooltip[data-tool-tip]:hover::before {
  visibility: visible;
  opacity: 1;
}
.tooltip[data-tool-tip]::before {
  text-align:center;
  content: attr(data-tool-tip);
  visibility: hidden;
  opacity: 0;
  min-width: 100%;
  width: max-content;
  height: max-content;
  position: absolute;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 4px 8px;
  background-color: #5a5a5a;
  color: white;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: 500;
  white-space: nowrap;
  transition: opacity ease-out 150ms, bottom ease-out 150ms;
}
.tooltip[data-position='top']::before {
  bottom: 100%;
}
.tooltip[data-position='right']::before {
  left: 100%;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.tooltip[data-position='bottom']::before {
  top: 100%;
}
.tooltip[data-position='left']::before {
  right: 100%;
  top: 0;
  bottom: 0;
  margin: auto 0;
}