@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hack';
  src: url(/assets/fonts/Hack-NF.ttf);
  display: swap;
}

* {
  font-family: 'Hack', monospace;
}
 

::-webkit-scrollbar {
  width: 15px;
  height: 10px; 
}

::-webkit-scrollbar-track {
  background: #1e252e;
}

::-webkit-scrollbar-thumb {
  background: #b6b5b4; 
}